#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#new {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#edit {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.add-btn {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: rgb(47, 117, 237);
    padding: 3px;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

    .add-btn a {
        color: white;
        text-decoration: none;
    }

.back-btn {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: rgb(200, 0, 0);
    padding: 3px;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

    .back-btn a {
        color: white;
        text-decoration: none;
    }

.m-20 {
    margin: 20px;
}

.justify-around {
    justify-content: space-around;
}

.justify-btw {
    justify-content: space-between;
}

.btn {
    width: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: gainsboro;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: auto;
}

.btn.add {
    background-color: green;
    color: white;
}

.btn.cancel {
    background-color: yellow;
}

.body {
    margin: 0;
}

.delete-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-item {
    background-color: white;
    padding: 5px 15px 15px 15px;
    border-radius: 9px;
}

.hidden {
    display: none;
}